"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "autocomplete-plus"
      "autocomplete-snippets"
      "language-gfm"
      "language-mustache"
      "language-toml"
      "language-typescript"
      "snippets"
      "sync-settings"
    ]
    projectHome: "/Users/mike/git"
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "SFMono-Regular, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "db23d899-2407-a099-e1a7-cbf07f341873"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  "sync-settings":
    _lastBackupHash: "97fe7665e888bbe8401b46d17c60c0adc3a84e3e"
    checkForUpdatedBackup: false
  welcome:
    showOnStartup: false
