"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "autocomplete-plus"
      "autocomplete-snippets"
      "bracket-matcher"
      "language-gfm"
      "snippets"
    ]
    projectHome: "/Users/mike/git"
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "SF Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "db23d899-2407-a099-e1a7-cbf07f341873"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  "sync-settings":
    _lastBackupHash: "83423ffe267cf6851d740010f6007b4a4dd8a1d6"
    gistId: "cf8e7a41d6e6b77f31348b6a6a964569"
    personalAccessToken: "579a744c835f010e3cf08463c3460028a7be5e6b"
    quietUpdateCheck: true
    removeObsoletePackages: true
  welcome:
    showOnStartup: false
