"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "autocomplete-plus"
      "autocomplete-snippets"
      "bracket-matcher"
      "language-gfm"
      "snippets"
    ]
    projectHome: "/Users/mike/git"
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "SF Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "db23d899-2407-a099-e1a7-cbf07f341873"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  "sync-settings":
    _lastBackupHash: "c4be1e8644fe66fc39e4cc2c42a3feaadebf35b4"
    checkForUpdatedBackup: false
    quietUpdateCheck: true
    removeObsoletePackages: true
    syncSettings: false
  welcome:
    showOnStartup: false
